/* Hamburge */

.Hamburge {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px; 
    height: 30px; 
  }
  
  .line {
    width: 30px; 
    height: 3px;
    background-color: black;
    margin: 3px;
    border-radius: 3px;
  }


  /* SidePage */

/* .side-page {
  display: flex;
  flex-direction: column;
  background-color: #71adf2;
  width: 0;
  margin: 0;
  cursor: pointer;
  list-style: none;
  justify-content: center;

  height: 60;
  position: fixed;
  top: 60px;
  right: -100%; 
  
  transition: right 0.3s ease;
} */

.side-page {
  width: 0;
  max-height: 0;
  overflow: hidden;
  font-family: 'Oswald', sans-serif; 
  justify-content: stretch;
  font-size: 18px;
  transition: right 0.5s ease;
  }

.side-page.open {
  right: 0; /* Visible when open */
  max-height: 100%;
  width: 100%;
  transition-property: width;
}



/* .side-page.open ul {
  list-style: none;
  padding: 0;
  margin-left: 22%;
} */
.side-page.open ul{
  display: flex;
  background-color: #07aad3;
  width: 100%;
  height: 70px;
  margin: 0;
  font-family: 'Oswald', sans-serif, cursive;
  cursor: pointer;
  list-style: none;
  justify-content: space-evenly;
  text-decoration: none;

}

.side-page.open ul li {
  padding: 10px;
  cursor: pointer;
  display: inline;
  justify-content:space-evenly;
  align-items:center;
  text-decoration: none;
}

.side-page.open ul li:hover {
  font-weight: bold;
  text-decoration: none;
}

.side-page.open ul li:first-child {
  margin-left: 39%;
  text-decoration: none;
}

.side-page.open ul li:last-child {
  margin-right: 15%;
}
